@model SportManager.Models.EventResult

@{
    ViewData["Title"] = "Delete";
}

<div class="page-header card">
    <div class="row align-items-end">
        <div class="col-lg-8">
            @*<div class="page-header-title">
                    <i class="feather icon-home bg-c-blue"></i>
                    <div class="d-inline">
                        <h5>Dashboard</h5>
                        <span>Welcome user.</span>
                    </div>
                </div>*@
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class=" breadcrumb breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="/home"><i class="feather icon-home"></i></a>
                    </li>
                    <li class="breadcrumb-item"><a href="#!">Dashboard</a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">

            <div class="page-body">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="card">
                            <div class="card-header">
                                <h5>Delete result</h5>
                            </div>
                            <div class="card-block">
                                <dl class="row">
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.SportDisciplinesInEvent.SportDiscipine.Name)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.SportDisciplinesInEvent.SportDiscipine.Name)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.SportDisciplinesInEvent.Event.Name))
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.SportDisciplinesInEvent.Event.Name)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.NoOfMatches)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.NoOfMatches)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.MatchesWon)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.MatchesWon)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.MatchesDrawn)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.MatchesDrawn)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.MatchesLost)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.MatchesLost)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.TournamentStage)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.TournamentStage.Name)
                                    </dd>
                                </dl>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div>
            <form asp-action="Delete">
                <input type="hidden" class="form-control" asp-for="Id" required>
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="Index">Back to List</a>
            </form>
        </div>
    </div>
</div>