@model SportManager.Models.SportDiscipine
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Details";
    string UserProfile = "";
    try
    {
        UserProfile = Context.Session.GetString("USERPROFILE");
    }
    catch (Exception ex) { }
}

<div class="page-header card">
    <div class="row align-items-end">
        <div class="col-lg-8">
            @*<div class="page-header-title">
                    <i class="feather icon-home bg-c-blue"></i>
                    <div class="d-inline">
                        <h5>Dashboard</h5>
                        <span>Welcome user.</span>
                    </div>
                </div>*@
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class=" breadcrumb breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="/home"><i class="feather icon-home"></i></a>
                    </li>
                    <li class="breadcrumb-item"><a href="#!">Dashboard</a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">

            <div class="page-body">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="card">
                            <div class="card-header">
                                <h5>Sport discipline details</h5>
                            </div>
                            <div class="card-block">
                                <dl class="row">
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Name)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Name)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.DateAdded)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.DateAdded)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.SportDiscipinePatron)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @{
                                            if (Model != null)
                                            {
                                                if (Model.SportDiscipinePatron != null)
                                                {
                                                    if (Model.SportDiscipinePatron.Staff != null)
                                                    {
                                                        @Html.DisplayFor(model => model.SportDiscipinePatron.Staff.Firstname)
                                                        @Html.Raw(" ")
                                                        @Html.DisplayFor(model => model.SportDiscipinePatron.Staff.Lastname)
                                                        @Html.Raw(" - ")
                                                        @Html.DisplayFor(model => model.SportDiscipinePatron.Staff.RegistrationNumber)
                                                        if (UserProfile.Equals("Coordinator") || UserProfile.Equals("Secretary"))
                                                        {
                                                            @Html.Raw(" | ")
                                                            @Html.ActionLink("Change patron", "Edit", "SportDisciplinePatron", new { id = Model.Id })
                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (UserProfile.Equals("Coordinator") || UserProfile.Equals("Secretary"))
                                                        {
                                                            @Html.Raw("Not assigned!")
                                                            @Html.Raw(" | ")
                                                            @Html.ActionLink("Assign patron", "Index", "SportDisciplinePatron", new { id = Model.Id })
                                                        }

                                                    }
                                                }
                                                else
                                                {
                                                    if (UserProfile.Equals("Coordinator") || UserProfile.Equals("Secretary"))
                                                    {
                                                        @Html.Raw("Not assigned!")
                                                        @Html.Raw(" | ")
                                                        @Html.ActionLink("Assign patron", "Index", "SportDisciplinePatron", new { id = Model.Id })
                                                    }

                                                }
                                            }
                                        }
                                    </dd>
                                    <dt class="col-sm-2">

                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.ActionLink("View students", "Index", "Students", new { id = Model.Id })
                                    </dd>
                                </dl>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div>
            @{
                if (UserProfile.Equals("Coordinator") || UserProfile.Equals("Secretary"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) @Html.Raw(" | ")
}
            }

            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
