@model SportManager.Models.Event
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Details";
    Event _event = null;
    string UserProfile = "";
    try
    {
        UserProfile = Context.Session.GetString("USERPROFILE");
    }
    catch (Exception ex) { }
    try
    {
        _event = Model;
    }
    catch (Exception ex) { }
}

<div class="page-header card">
    <div class="row align-items-end">
        <div class="col-lg-8">
            @*<div class="page-header-title">
                    <i class="feather icon-home bg-c-blue"></i>
                    <div class="d-inline">
                        <h5>Dashboard</h5>
                        <span>Welcome user.</span>
                    </div>
                </div>*@
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class=" breadcrumb breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="/home"><i class="feather icon-home"></i></a>
                    </li>
                    <li class="breadcrumb-item"><a href="#!">Dashboard</a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">

            <div class="page-body">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="card">
                            <div class="card-header">
                                <h5>Event Details</h5>
                            </div>
                            <div class="card-block">
                                <dl class="row">
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Name)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Name)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.StartDate)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.StartDate)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.EndDate)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.EndDate)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.EventTypeId)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @ViewBag.EventType
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.PostPoned)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.PostPoned)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Cancelled)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Cancelled)
                                    </dd>
                                    @{
                                        try
                                        {
                                            bool CanAdd = false;
                                            if (ViewBag.CanAddDiscipline != null)
                                                CanAdd = (bool)ViewBag.CanAddDiscipline;

                                            @Html.ActionLink("View sport disciplines", "Index", "EventDisciplines", new { id = Model.Id })
                                            if (CanAdd)
                                            {
                                                @Html.Raw(" | ")
                                            }
                                            if (UserProfile.Equals("Coordinator") || UserProfile.Equals("Secretary"))
                                                if (CanAdd)
                                                {
                                                    @Html.ActionLink("Add sport disciplines", "Create", "EventDisciplines", new { id = Model.Id })
                                                }

                                        }
                                        catch (Exception ex)
                                        {
                                            @Html.ActionLink("View sport disciplines", "Index", "EventDisciplines", new { id = Model.Id })
                                        }
                                    }
                                </dl>
                                <div class="card">
                                    <div class="card-block">
                                        @*<a asp-action="Index" asp-controller="EventSession" asp-route="@_event.Id">View sessions</a>*@
                                        @Html.ActionLink("View sessions", "Index", "EventSession", new { id = Model.Id })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div>
            @{
                if (UserProfile.Equals("Coordinator") || UserProfile.Equals("Secretary"))
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) @Html.Raw(" | ")
            }

            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
