@model SportManager.Models.Student

@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Details";
    string UserProfile = "";
    try
    {
        UserProfile = Context.Session.GetString("USERPROFILE");
    }
    catch (Exception ex) { }
}


<div class="page-header card">
    <div class="row align-items-end">
        <div class="col-lg-8">
            @*<div class="page-header-title">
                    <i class="feather icon-home bg-c-blue"></i>
                    <div class="d-inline">
                        <h5>Dashboard</h5>
                        <span>Welcome user.</span>
                    </div>
                </div>*@
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class=" breadcrumb breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="/home"><i class="feather icon-home"></i></a>
                    </li>
                    <li class="breadcrumb-item"><a href="#!">Dashboard</a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">

            <div class="page-body">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="card">
                            <div class="card-header">
                                <h5>Sudent details</h5>
                            </div>
                            <div class="card-block">
                                <dl class="row">
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Firstname)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Firstname)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Lastname)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Lastname)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.RegistrationNumber)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.RegistrationNumber)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Email)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Email)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Phone)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Phone)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.RegistrationVerified)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @{
                                            try
                                            {
                                                if (Model.RegistrationVerified)
                                                    @Html.Raw("Yes")
                                                    else
                                                        @Html.Raw("No")
                                                    }
                                                    catch (Exception ex)
                                                    {
                                                        @Html.Raw("No")
                                                    }
                                        }
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.DateRegistered)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.DateRegistered)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.ChangePassword)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @{
                                            if (Model.ChangePassword)
                                                @Html.Raw("Yes")
                                                else
                                                    @Html.Raw("No")
                                        }
                                    </dd>
                                </dl>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
